#team {
  background-color: var(--primary-color);
}

.team__future {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 80px;
}

.team__about {
  color: #FFF;
  font-family: Orbitron;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 74px;
  text-transform: capitalize;
}

.btn__read-more {
  padding: 11px 35px;
  color: #FFF;
  font-family: Orbitron;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: capitalize;
  background: var(--button-color);
  border-radius: 5px;
}

.btn__read-more:hover {
  background-color: #999;
  color: red;
}


.team__card {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.team__left__img {
  width: 500px;
}

.team__right__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px
}

.team__img,
.team__right__card {
  width: 260px;
}

.team__titles {
  color: var(--button-color);
  font-family: Orbitron;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
}

.team__texts {
  color: #FFF;
  font-family: Orbitron;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  text-transform: capitalize;
}

.team__title {
  color: var(--button-color);
  font-family: Orbitron;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.team__text {
  color: #FFF;
  font-family: Orbitron;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  text-transform: capitalize;
}

@media (max-width:1000px) {
  .team__left {
    display: none;
  }
}

@media (max-width:500px) {
  .team__about {
    font-size: 30px;
  }

  .btn__read-more {
    height: 40px;
    width: 140px;
    font-size: 12px;
  }
  .team__text {
    font-size: 20px;
  }
}